<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
    This email is notify you that your uploaded csv file is successfully processed.
    <br>
    <br>
    Thank you,
    <br>
    SKU Support
  </body>
</html>